extends layout

block content
    nav#mainNav.navbar.navbar-default.navbar-fixed-top
        .container-fluid
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand.page-scroll(href='#page-top') Fourfax
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a.page-scroll(href='#about') About
                    li
                        a.page-scroll(href='#services') Why us?
                    li
                        a.page-scroll(href='#portfolio') Phones
                    li
                        a.page-scroll(href='#contact') Contact
            // /.navbar-collapse
        // /.container-fluid
    header
        .header-content
            .header-content-inner
                h1 Buying pre-owned phones just got whole lot easier
                hr
                p
                    | Fourfax will help you buy pre-loved phones with trust and assurance. We take care of everything right from robust inspection to doorstep delivery.
                a.btn.btn-primary.btn-xl.page-scroll(href='#about') Find Out More
    section#about.bg-primary
        .container
            .row
                .col-lg-8.col-lg-offset-2.text-center
                    h2.section-heading Coming soon!
                    hr.light
                    p.text-faded
                        | Planning to buy a phone? That's great. Sign up with your details below and we'll keep you posted.
                    a.btn.btn-default.btn-xl(href='#') Sign up!
    section#services
        .container
            .row
                .col-lg-12.text-center
                    h2.section-heading Our Advantages
                    hr.primary
        .container
            .row
                .col-lg-4.col-md-6.text-center
                    .service-box
                        i.fa.fa-4x.fa-diamond.wow.bounceIn.text-primary
                        h3 Inspected Phones
                        p.text-muted Our robust inspection methodology ensures only best phones get through to you.
                .col-lg-4.col-md-6.text-center
                    .service-box
                        i.fa.fa-4x.fa-paper-plane.wow.bounceIn.text-primary(data-wow-delay='.1s')
                        h3 You order, we deliver
                        p.text-muted
                            | High quality packaging and handling to ensure you receive your phone as good as new.
                .col-lg-4.col-md-6.text-center
                    .service-box
                        i.fa.fa-4x.fa-newspaper-o.wow.bounceIn.text-primary(data-wow-delay='.2s')
                        h3  At your service
                        p.text-muted
                            | We take full responsibilty of all our phones upto 6 months from the date of purchase.
                //.col-lg-3.col-md-6.text-center
                //    .service-box
                //        i.fa.fa-4x.fa-heart.wow.bounceIn.text-primary(data-wow-delay='.3s')
                //        h3 Made with Love
                //        p.text-muted We love listening. Let us know if we can do anything better.
    section#portfolio.no-padding
        .container-fluid
            .row.no-gutter
                .col-lg-4.col-sm-6
                    a.portfolio-box(href='#')
                        img.img-responsive(src='img/portfolio/1.jpg', alt='')
                        .portfolio-box-caption
                            .portfolio-box-caption-content
                                .project-category.text-faded
                                    | Category
                                .project-name
                                    | Project Name
                .col-lg-4.col-sm-6
                    a.portfolio-box(href='#')
                        img.img-responsive(src='img/portfolio/2.jpg', alt='')
                        .portfolio-box-caption
                            .portfolio-box-caption-content
                                .project-category.text-faded
                                    | Category
                                .project-name
                                    | Project Name
                .col-lg-4.col-sm-6
                    a.portfolio-box(href='#')
                        img.img-responsive(src='img/portfolio/3.jpg', alt='')
                        .portfolio-box-caption
                            .portfolio-box-caption-content
                                .project-category.text-faded
                                    | Category
                                .project-name
                                    | Project Name
                .col-lg-4.col-sm-6
                    a.portfolio-box(href='#')
                        img.img-responsive(src='img/portfolio/4.jpg', alt='')
                        .portfolio-box-caption
                            .portfolio-box-caption-content
                                .project-category.text-faded
                                    | Category
                                .project-name
                                    | Project Name
                .col-lg-4.col-sm-6
                    a.portfolio-box(href='#')
                        img.img-responsive(src='img/portfolio/5.jpg', alt='')
                        .portfolio-box-caption
                            .portfolio-box-caption-content
                                .project-category.text-faded
                                    | Category
                                .project-name
                                    | Project Name
                .col-lg-4.col-sm-6
                    a.portfolio-box(href='#')
                        img.img-responsive(src='img/portfolio/6.jpg', alt='')
                        .portfolio-box-caption
                            .portfolio-box-caption-content
                                .project-category.text-faded
                                    | Category
                                .project-name
                                    | Project Name
    //aside.bg-dark
    //    .container.text-center
    //        .call-to-action
    //            h2 Want to sell pre-owned phones!
    //            a.btn.btn-default.btn-xl.wow.tada(href='#') Sell Now!
    section#contact
        .container
            .row
                .col-lg-8.col-lg-offset-2.text-center
                    h2.section-heading Let&apos;s Get In Touch!
                    hr.primary
                    p
                        | Still have doubts? Not a problem. Call us or write to us and we&apos;ll get back to you. Happy Fourfax-ing!
                .col-lg-4.col-lg-offset-2.text-center
                    i.fa.fa-phone.fa-3x.wow.bounceIn
                    p +91-720-88-60-655
                .col-lg-4.text-center
                    i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay='.1s')
                    p
                        a(href='mailto:support@fourfax.com') support@fourfax.com